.container_quiz{
  background: linear-gradient(to right, rgb(160, 112, 238) 0%, rgb(192, 179, 214) 60%, rgb(62, 29, 114) 100%);
  border: 1px solid black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 80vh;
}
