.menuList{
  box-sizing: border-box;
  width: 200px;
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-200px);
  transition: .3s transform ease-in-out ;
  ul{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 20px;
    list-style: none;
    li{
      padding: 10px 0;
    }
  }
}
.active{
  transform: translateX(0px);
}
.Link{
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
    text-decoration: underline;

  }
}

.activeLink{
  font-weight: bold;
}
